html {
  height: 100%;
  margin: 0px
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root{
  width: 100%;
  height: 100%;
  margin: 0
}

.App {
  height: 100%;
  display: flex;

  
}

/* menu */
.App-link {
  color: #61dafb;
}
ul {
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
li a {
  text-decoration: none;
  padding-left:10%;
}

.sideMenu {
  display: flex;
  width: 20%;
  height: 100%;
  background-color: cornflowerblue;
}

.rectangle {
  height: 30px;
  width: 100%;
  background-color: cornsilk;
  display: flex;
  align-items: center;
  
  
}

/* content */
.content {
  width: 80%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-evenly;
}

.box {
  height: 300px;
  width: 250px;
  background-color: cornsilk;
  margin: 10px;
  overflow: scroll;
}

