html {
  height: 100%;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tak {
  text-shadow: aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  display: flex;
}

/* menu */

.App-link {
  color: #61dafb;
}

.menu {
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  background-color: blueviolet;
}

li a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

p {
  margin-top: 7px;
}

.ShowSideMenu {
  display: flex;
  width: 14%;
  height: 100%;
}

.sandwich {
  display: flex;
  width: 6%;
  height: 100%;
  animation-duration: 2s;
  animation-name: push;
  transition: width 2s;
}

.sandwich:hover {
  width:14%
}

.sandwich:hover .visibility{
  visibility: visible;
}

@keyframes push {
  from {
    width: 4%;
  }
  to {
    width: 6%;
  }
}

.rectangle {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  margin-top: 7px;
  margin-left: 7px;
  height: 37px;
  width: 32px;
  
}

.out-right {
  padding-left: 5px;
  opacity: 0;
}

.menu-button {
  border: none;
  padding: 0;
  width: 50px;
  display: flex;
  transition: width 160ms linear, background-color 40ms linear;
}

.menu-button:hover {
  display: flex;
  width: 65px;
  background-color: blanchedalmond;
}

.menu-button:hover .out-right {
  opacity: 1;
}

.hidden {
  display: none;
}

.visibility {
  visibility: hidden;
}

.transit {
  animation-duration: 3s;
  animation-name: shrink;
}

@keyframes shrink {
  from {
    width: 14%;
  }
  to {
    width: 5%;
  }
}

@keyframes play210 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -10500px 0px;
  }
}
.shapeshifter {
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: steps(210);
  width: 50px;
  height: 50px;
  background-image: url(./Assets/icons/blackshadow.svg);
}
.shapeshifter.play {
  animation-name: play210;
}

.shapeshifter:hover {
  animation-play-state: paused;
}

@keyframes play180 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -9000px 0px;
  }
}

.shapeshifter2 {
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: steps(180);
  width: 50px;
  height: 50px;
  background-image: url(./Assets/icons/colouredcircle.svg);
}

.shapeshifter2.play2 {
  animation-name: play180;
}

.shapeshifter2:hover {
  animation-play-state: paused;
}

/* content */
.content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-evenly;
}

.box {
  height: 300px;
  width: 250px;
  background-color: cornsilk;
  margin: 10px;
  overflow: scroll;
}
