html {
  height: 100%;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tak {
  text-shadow: aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  display: flex;
}

/* menu */

.App-link {
  color: #61dafb;
}

.menu {
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

li a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

p{
  margin-top: 7px;
}

.ShowSideMenu {
  display: flex;
  width: 14%;
  height: 100%;
}

.rectangle {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  height: 35px;
  width: 35px;
  border: black;
  border-width: 1px;
  border-style: dashed;
  border-color: black;
  border-radius: 900px;
}

.out-right {
  padding-left: 5px;
  opacity: 0;
}

.menu-button {
  border: none;
  padding: 0;
  width: 50px;
  display: flex;
  transition: width 160ms linear, background-color 40ms linear;
}

.menu-button:hover {
  display: flex;
  width: 65px;
  background-color: blanchedalmond;
}

.menu-button:hover .out-right {
  opacity: 1;
}

.hidden {
  display: none;
}

.transit {
  animation-duration: 3s;
  animation-name : shrink;
}

@keyframes shrink {
  from {width: 14%}
  to {width:5%}
}

/* content */
.content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-evenly;
}

.box {
  height: 300px;
  width: 250px;
  background-color: cornsilk;
  margin: 10px;
  overflow: scroll;
}
